@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

$color1: #0F044C;
$color2: #141E61;
$color3: #787A91;
$color4: #EEEEEE;

/* Variables */
$main-font: 'Darker Grotesque', sans-serif;

$background-color: $color4;

$text-color-light: $color3;
$text-color-dark: $color2;
$nav-color: $color1;
$hover-color: $color3;
$table-color: $color3;
